<style media="screen" type="text/css">
 #backgroundaudio {
  display: block;
  position: fixed;
  bottom: -43px;
  left: 5px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }
 #backgroundaudio:hover {
  bottom: 2;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }
 #backgroundaudio audio {
  background: #ffffff;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  height: 43px;
  z-index: 9998;
 }
 #backgroundaudio i {
  font-size: 40px;
  display: block;
  background: #ffffff;
  padding: 5px;
  width: 50px;
  float: none;
  margin-bottom: -1px;
  z-index: 9999;
 }

header {
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
nav > ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  max-width: 60em;
}
nav li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav li > a {
  line-height: 2em;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: background-color ease-in-out .20s,color ease-in-out .20s;
  transition: background-color ease-in-out .20s,color ease-in-out .20s;
}
nav li > a:hover,
nav li > a:active,
nav li > a.active {
  background-color: orange;
  color: #222;
}

section#intro {
  background-color: rgba(75,75,75,0.95);
  display: relative; 
  padding: 5em;
}
section#intro h1 {
  margin: 0;
  text-align: center;
  font-size: 8em;
  color: white; 
}
section#intro h2 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  color: white;
}
section#intro h3 {
  margin:0;
  text-align: center;
  font-size: 1.5em;
  color:white;
}
section#mom {
 background-color: rgba(219,112,147,0.98);
 display: relative;
 padding: 1em;
}
section#dad {
 background-color:rgba(000,229,238,0.98);
 display: relative;
 padding: 1em;
}
section#baby {
 background-color:rgba(75,75,75,0.95);
  display: relative; 
  padding: 1em;
}
section#registries{
 background-color:rgba(219,112,147,0.98);
 display: relative;
 padding: 1em;
}
section#signup {
 background-color:rgba(000,229,238,0.98);
 display: relative;
 padding: 1em;
}
html {

background: url(babyshowerbackground.png) no-repeat center fixed;
background-size: cover;
}

form label, form input {
	display: block;
	margin-bottom: 1em;
	color: #fff;
	text-align: center;
	margin-right: auto;
    	margin-left: auto;
}
form input, form select {
    	color: #222;
}
form textarea {
    	width: 50%;
    	height: 5em;
    	color: #222;
   	margin-left: auto;
   	margin-right: auto;
   	display: block;
   	padding-bottom: 1em;
    	text-align: center;
    	vertical-align: middle;
   
}


